@font-face {
    font-family: 'Beatstreet';
    src: url('/assets/fonsts/beatstreet.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonsts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roboto-Black';
    src: url('/assets/fonsts/Roboto-Black.ttf') format('truetype');
    font-style: black;
    font-weight: normal;
  }

  @font-face {
    font-family: 'WorkSans-Regular';
    src: url('/assets/fonsts/WorkSans-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'WorkSans-Light';
    src: url('/assets/fonsts/WorkSans-Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

#footer{
    background:#0d2d40 ;
   }

#footer a {
    color: #ffffff;
}

.bg-bfit{
    background-color: #242424;
}
.bg-bfit a {
    color: #ffffff;
    text-decoration: none;
}
.breakin{
   
    /*color: #bccdd4;*/
    font-family: Roboto-Regular;
    font-size: 60px;
    font-weight: 300px;
    font-style: black;
    line-height: 70.31px;
    letter-spacing: 0em;
    text-align: center;
}
.breakin-fit{
    font-family:Roboto-Black;
    font-size: 102px;
    font-weight: 200px;
    line-height: 120px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #bccdd4;
    font-style: black;
   
}

.b-fit{
    font-family: Beatstreet;
    text-align: center;
    font-size: 36px!important;
    /*color: #e2f7ff;*/
    
   
}

#breakin-fit{
    background: linear-gradient(180deg, rgba(39, 39, 39, 0) 51.04%, #272727 100%);
    
 
}
.display-4{
    color:#00FFB2;
    font-size: 25px;
    font-family:Roboto;
}

.display-1{
    font-family: Beatstreet;
    color:#00FFB2;
    font-size: 45px; 
    letter-spacing: 1%;
    text-align: center;
}

.card-height{
    height: 350px;
    /*background: #ADBCC2;*/
    border-color:#E2F7FF;
    font-size: 14px;
    border-style: unset;
   

}

.btn-fit{
    color: #242424;
    background: #ADBCC2;
    border-style:solid;
    border-radius: unset;
    font-size: 14px;
   
    
    
}
.btn-bfit{
  color: #E2F7FF;
  background:#242424 ;
  border-style:solid;
  font-size: 14px;
  border-radius: unset;
  padding: 10px;
  margin-top: 0px;
 
}
.car-color-height{
    background: #272727;
    color: #e2f7ff;
    height: 350px;
    border-color: #ADBCC2!important;
    /*border-left: #ADBCC2!important;*/
    /*border-top: #ADBCC2!important;*/
    /*border-bottom: #ADBCC2!important;*/
    font-size: 14px;
}
.bg-imagen{
  
    position: absolute;
    width: 1920px;
    height: 741px;
    left: 0px;
    top: 1170px;
}

.btn-breakin{
    background: transparent;
    color: #00FFB2;
    border-color: #19d7bb;
    border-radius: 0%;
    font-size: 15px;
}

.btn-breakin-text{
    color: #00FFB2;
    border-color: #19d7bb;
    font-size: 15px;
    border: 1px solid;    
}


.breakinf{

font-family: Beatstreet;
font-size: 56px;
font-weight: 400;
line-height: 46px;
line-height: 50.4px;
letter-spacing: -0.02em;
text-align: right;
color: #ADBCC2;



}

.card-organic{
    height: 350px;
    background:#00FFB2;
 
    border-color:#00FFB2;
    font-size: 14px;
    border-style: unset;
   

}
.btn-rehabilitacion{
    color: black;
    background: #00FFB2;
    border-style:solid;
    border-radius: unset;
    font-size: 14px;
    
   
}
.card-body{
    background: #272727;
    color: #e2f7ff;
    height: 100px;
   
    font-size: 14px;

}
.btn-solicita{
    background: transparent;
    color: #00FFB2;
   border-color: #19d7bb;
   border-radius: 0%;
   font-size: 25px;
   width: 211px;
   height: 58px;
 
     
}

#place-time{
    padding-bottom: 100px;
}

.sub-breakin-fit{
    margin-top: 200px;
 }

.b-fit-p-semanas{
   font-size: 18px;
 }
 
.b-fit-p-semanas-small{
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

.servicio-titulo{
    background-color: #37373780;
    backdrop-filter: blur(15px);
    width: 100%;
}

.servicio-titulo :hover{
   /* height: 100%;*/
    border-color: #00FFB2;
}

.hoverHeight{
    height: 100%;
}

.servicio-boton {
    display:none;
    z-index: 2;
}

.noHover{
    pointer-events: none;
}

.card-title{
    margin: 15px;
}

@media (max-width:400px) and (min-width:100px) {
    .breakin-fit{
       font-size: 56px!important;
    }
    .breakin{
       font-size: 26px!important;
    }
    .sub-breakin-fit{
       font-size: 20px!important;
    }

    .b-fit-p-semanas{
       font-size: 14px!important;
    }

    .b-fit-p-semanas-small{
       font-size: 14px!important;
       line-height:26px;
    }

}


.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }



    :root {
        --marquee-width: 80vw;
        --marquee-height: 20vh;
        /* --marquee-elements: 12; */ /* defined with JavaScript */
        --marquee-elements-displayed: 5;
        --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
        --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
      }
      
      .marquee {
        width: var(--marquee-width);
        height: var(--marquee-height);
        /*background-color: #111;*/
        /*color: #eee;*/
        overflow: hidden;
        position: relative;
      }
      .marquee:before, .marquee:after {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: "";
        z-index: 1;
      }
      .marquee:before {
        left: 0;
       /* background: linear-gradient(to right, #111 0%, transparent 100%);*/
      }
      .marquee:after {
        right: 0;
       /* background: linear-gradient(to left, #111 0%, transparent 100%);*/
      }
      .marquee-content {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling var(--marquee-animation-duration) linear infinite;
      }
      /* .marquee-content:hover {
        animation-play-state: paused;
      } */
      @keyframes scrolling {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
      }
      .marquee-content li {
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        flex-shrink: 0;
        width: var(--marquee-element-width);
        max-height: 100%;
        font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
        white-space: nowrap;
      }
      
      .marquee-content li img {
       /* width: 100%;*/
        /* height: 100%; */
       /* border: 2px solid #eee;*/
      }
      
      @media (max-width: 600px) {
        html { font-size: 12px; }
        :root {
          --marquee-width: 100vw;
          --marquee-height: 16vh;
          --marquee-elements-displayed: 3;
        }
        .marquee:before, .marquee:after { width: 5rem; }
      }
    
      .GradientValores{
        background: linear-gradient(180deg, #E2F7FF 57.81%, #272727 91.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .GradientValoresCard{
        background: linear-gradient(179.48deg, #CBEAF5 0.45%, #D6F0FA 26.49%, #E2F7FF 73.35%, #A1D1E2 111.53%);
        border-radius: 6px;
      }

      .GradientrehabilitacionCard{
        background: linear-gradient(180deg, #3CDCFF 0%, #00FFB2  100%);
        
      }

      .GaadientTitulo{
        background: linear-gradient(270deg, #3CDCFF -0.45%, #00FFB2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      }

      .GaadientTituloH1{
        background: linear-gradient(177deg, #3CDCFF  31.77%, #00FFB2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

      }
      
      .GaadientTituloHeader{
        background: rgb(226,247,255);
        background: linear-gradient(177deg, rgba(226,247,255,1) 51.56%, rgba(0,157,228,1) 100%);
        -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      }